# ======================================================
#	CUSTOM IGNORE
# ======================================================
# BASIC
.vscopde/
handbook/

*.bat
*.lnk

# OUTPUT
./*.d.ts
./*.js
./*.js.map