# ======================================================
#	CUSTOM IGNORE
# ======================================================
# BASIC
.vscopde/
handbook/
node_modules/
dist/

*.bat
*.lnk

# OUTPUT
/*.d.ts
/*.js
/*.js.map