# ======================================================
#	CUSTOM IGNORE
# ======================================================
# BASIC
.vscopde/
handbook/
node_modules/
dist/

*.bat
*.lnk

# OUTPUT
./index.d.ts
./index.js
./index.js.map

./filesystem.d.ts
./filesystem.js
./filesystem.js.map