#-------------------------------------------------------
# ENVIRONMENTS
#-------------------------------------------------------
.git/
.vscode/
node_modules/
build/

*.*ignore
*.bat
*.log

#-------------------------------------------------------
# SOURCES
#------------------------------------------------------
design/
handbook/
src/

*.js.map